ignore/**
scripts/ps/frames/**
writeup/latex/main.pdf
writeup/latex/main.synctex.gz
writeup/latex/texput.log


# other ignore-files here:
!scripts/cfd/openFoamCase/carOpenedCfd/.gitignore
!scripts/cfd/openFoamCase/carClosedCfd/.gitignore
!scripts/cfd/base_model/smoothened/bloat/.gitignore
!scripts/cfd/base_model/refined/bloat/.gitignore

!scripts/cfd/base_model/_renders/bloat/.gitignore

!writeup/latex/build/.gitignore
!writeup/latex/resources/z_candidates/.gitignore